<div class="view fullscreen">
    <video autoplay muted loop id="myVideo">
        <source src="../../video/stock/VideoOfWaterFlowing.mp4" type="video/mp4">
    </video>
</div>
<div id="about" class="container card">
    <section class="section">
        <!--Section heading-->
        <div class="view purple-text">
            <h1 class="text-center">Our<strong> Story</strong></h1>
            <p class="text-center">
                Northwest born and raised.
            </p>
        </div>
    </section>
</div>
<br />
<div id="about" class="container card">
    <div class="view">
        
        <h4 class="text-center">Api Call: Weather Forcast <a data-bind="attr:{href: swagger}">Swagger</a></h4>
        <span data-bind="text: message"></span>
    </div>
</div>
