<div class="view fullscreen chalkboard"></div>
<div class="view">
    <div class="justify-content-center align-items-center" id="contentWrapper">
        <div class="container">
            <div class="row">
                <div id="animation-wrapper" class="col-md-12 mb-4 white-text text-center">
                    <h1 class="h1 white-text text-uppercase">
                        <strong>iTech Northwest LLC</strong>
                    </h1>
                    <div id="animated" style="position:absolute; display: none; text-align:center; white-space:nowrap; width:0">
                        <h5>
                            <strong data-bind="text: message">
                            </strong>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>