<div class="view fullscreen forest"></div>
<div id="skills" class="container animated fadeIn slow card card-cascade narrower">
    <section class="section contact-section mb-5">
        <!--Section heading-->
        <div class="view view-cascade gradient-card-header teal darken-4">
            <h1 class="text-center">Our<strong> Skills</strong></h1>
            <p class="text-center w-responsive mx-auto">
                .Net development / software architecture / technology consulting
                <br /><span class="invalid-note"></span>
            </p>
        </div>
        <!-- Section: Features v.2 -->
        <section class="my-5">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 mb-md-0 mb-5">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-2 col-md-3 col-2">
                            <i class="fal fa-code blue-text fa-2x"></i>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-lg-10 col-md-9 col-10">
                            <h4 class="font-weight-bold">Full Stack Development</h4>
                            <p class="grey-text">
                                Using C# with .Net Core and Restful Web Services, iTech Northwest can seamlessly combine responsive UI views with Database driven information.
                            </p>
                            <a class="btn btn-blue btn-sm" data-toggle="modal" data-target="#devModal">Learn more</a>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 mb-md-0 mb-5">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-2 col-md-3 col-2">
                            <i class="fab fa-slideshare pink-text fa-2x"></i>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-lg-10 col-md-9 col-10">
                            <h4 class="font-weight-bold">Consulting</h4>
                            <p class="grey-text">
                                From code review to planning your technology strategy, iTech Northwest can help you focus your business offerings to better target the desired demographic.
                            </p>
                            <a class="btn btn-pink btn-sm" data-toggle="modal" data-target="#consultingModal">Learn more</a>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-2 col-md-3 col-2">
                            <i class="fal fa-cogs purple-text fa-2x"></i>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-lg-10 col-md-9 col-10">
                            <h4 class="font-weight-bold">Training</h4>
                            <p class="grey-text">
                                Whether it is a crash course in Web Development or a deep dive into code management and security, iTech Northwest has a wide verity of training options available to enhance and unlock your teams potential.
                            </p>
                            <a class="btn btn-purple btn-sm" data-toggle="modal" data-target="#trainingModal">Learn more</a>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <div class="text-center">
            <span class="badge badge-pill badge-primary">C#, ASP .NET CORE</span>
            <span class="badge badge-pill badge-success">JSON WEB SERVICES, WEB API</span>
            <span class="badge badge-pill badge-secondary">JAVA SCRIPT (JQUERY, KNOCKOUT)</span>
            <span class="badge badge-pill badge-danger">MATERIAL DESIGN BOOTSTRAP</span>
            <span class="badge badge-pill badge-warning">HTML5, CSS3, SCSS</span>
            <span class="badge badge-pill badge-info">WEBPACK, NPM, TYPESCRIPT</span>
            <span class="badge badge-pill badge-default">AZURE, AZURE SQL</span>
        </div>
    </section>
</div>


<!-- Modal -->
<div class="modal fade left" id="devModal" tabindex="-1" role="dialog" aria-labelledby="devModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-notify" role="document">
        <div class="modal-content">
            <div class="modal-header blue white-text">
                <h5 class="modal-title" id="devModalLabel">Full Stack Development</h5>
                <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                coming soon...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade top" id="consultingModal" tabindex="-1" role="dialog" aria-labelledby="consultingModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-notify" role="document">
        <div class="modal-content">
            <div class="modal-header pink white-text">
                <h5 class="modal-title" id="consultingModalLabel">Consulting</h5>
                <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                coming soon...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-pink" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade right" id="trainingModal" tabindex="-1" role="dialog" aria-labelledby="trainingModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-notify" role="document">
        <div class="modal-content">
            <div class="modal-header purple white-text">
                <h5 class="modal-title" id="trainingModalLabel">Training</h5>
                <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>iTech Northwest </h2>
                <a data-bind="attr:{href: trainingLink}">Training</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-purple" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

