<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand">
    <!-- Breadcrumb-->

    <div class="navbar-brand">
        <p>
            <a data-bind="attr:{href: homeLink}">
                <img src="../../img/itechnw-logo-125x75.png" height="30" alt="itech northwest logo">
                iTech Northwest LLC
            </a>
        </p>
    </div>

    <!--Navbar links-->
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item">
            <a class="nav-link" data-bind="attr:{href: developmentLink}"><i class="fas fa-code blue-text"></i> <span class="clearfix d-none d-md-inline-block"> Development</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bind="attr:{href: consultingLink}"><i class="fab fa-slideshare pink-text"></i> <span class="clearfix d-none d-md-inline-block"> Consulting</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bind="attr:{href: aboutLink}"><i class="fas fa-cogs purple-text"></i> <span class="clearfix d-none d-md-inline-block"> About</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bind="attr:{href: worksLink}"><i class="fas fa-network-wired yellow-text"></i> <span class="clearfix d-none d-md-inline-block"> Works</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bind="attr:{href: contactLink}"><i class="fas fa-envelope green-text"></i> <span class="clearfix d-none d-md-inline-block"> Contact</span></a>
        </li>
    </ul>
    <!--/Navbar links-->
</nav>
<!-- /.Navbar -->
