<div class="view fullscreen forest"></div>
<div class="view">
    <div class="justify-content-center align-items-center" id="contentWrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-4 darkred-text text-center">
                    <h1 class="h1 white-text text-uppercase">
                        <strong>Not Found Keep on looking</strong>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>